{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item">
              {% if link.children %}
                <details class="masthead__dropdown">
                  <summary>{{ link.title }} <span aria-hidden="true">&#9662;</span></summary>
                  <div class="masthead__dropdown-links">
                    <a href="{{ domain }}{{ link.url }}">All workshops</a>
                    {% for child in site.data[link.children] %}
                      {% if child.url contains 'http' %}
                        {% assign child_domain = '' %}
                      {% else %}
                        {% assign child_domain = base_path %}
                      {% endif %}
                      <a href="{{ child_domain }}{{ child.url }}">{{ child.title }}</a>
                    {% endfor %}
                  </div>
                </details>
              {% else %}
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
